USE stomatoloska_ordinacija;
GO
/****** Object:  Database [stomatoloska_ordinacija]    Script Date: 26/02/2026 04:18:34 ******/
CREATE DATABASE [stomatoloska_ordinacija]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stomatoloska_ordinacija', FILENAME = N'C:\Users\hallo\stomatoloska_ordinacija.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stomatoloska_ordinacija_log', FILENAME = N'C:\Users\hallo\stomatoloska_ordinacija_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stomatoloska_ordinacija].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stomatoloska_ordinacija]
GO
/****** Object:  Table [dbo].[Izvestaj]    Script Date: 26/02/2026 04:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izvestaj](
	[id] [int] NULL,
	[opis] [varchar](50) NULL,
	[terminId] [int] NULL,
	[ukupnaCena] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 26/02/2026 04:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[lozinka] [varchar](50) NULL,
	[uloga] [varchar](50) NULL,
	[jmbg] [varchar](50) NULL,
	[brojTelefona] [varchar](50) NULL,
	[brojLicence] [varchar](50) NULL,
	[mentorId] [int] NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Termin]    Script Date: 26/02/2026 04:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Termin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datum] [date] NULL,
	[vreme] [time](7) NULL,
	[pacijentId] [int] NULL,
	[stomatologId] [int] NULL,
 CONSTRAINT [PK_Termin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminUsluga]    Script Date: 26/02/2026 04:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminUsluga](
	[terminId] [int] NULL,
	[uslugaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usluga]    Script Date: 26/02/2026 04:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluga](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NULL,
	[opis] [varchar](500) NULL,
	[cena] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Usluga] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Korisnik] ON 

INSERT [dbo].[Korisnik] ([id], [ime], [prezime], [email], [lozinka], [uloga], [jmbg], [brojTelefona], [brojLicence], [mentorId]) VALUES (1, N'Marko', N'Markovic', N'pacijent@gmail.com', N'pac123', N'Pacijent', N'1234567890123', N'064111222', NULL, NULL)
INSERT [dbo].[Korisnik] ([id], [ime], [prezime], [email], [lozinka], [uloga], [jmbg], [brojTelefona], [brojLicence], [mentorId]) VALUES (2, N'Ana', N'Anic', N'ana@gmail.com', N'ana123', N'Pacijent', N'1234567890123', N'064111222', NULL, NULL)
INSERT [dbo].[Korisnik] ([id], [ime], [prezime], [email], [lozinka], [uloga], [jmbg], [brojTelefona], [brojLicence], [mentorId]) VALUES (3, N'Dragan', N'Jovanovic', N'stomatolog@gmail.com', N'stom123', N'Stomatolog', N'9876543210987', N'063333444', N'LIC-12345', NULL)
SET IDENTITY_INSERT [dbo].[Korisnik] OFF
GO
SET IDENTITY_INSERT [dbo].[Termin] ON 

INSERT [dbo].[Termin] ([id], [datum], [vreme], [pacijentId], [stomatologId]) VALUES (1, CAST(N'2023-12-15' AS Date), CAST(N'10:00:00' AS Time), 1, 2)
INSERT [dbo].[Termin] ([id], [datum], [vreme], [pacijentId], [stomatologId]) VALUES (2, CAST(N'2023-12-15' AS Date), CAST(N'10:00:00' AS Time), 1, 2)
INSERT [dbo].[Termin] ([id], [datum], [vreme], [pacijentId], [stomatologId]) VALUES (3, CAST(N'2024-01-10' AS Date), CAST(N'14:30:00' AS Time), 1, 2)
SET IDENTITY_INSERT [dbo].[Termin] OFF
GO
INSERT [dbo].[TerminUsluga] ([terminId], [uslugaId]) VALUES (2, 1)
INSERT [dbo].[TerminUsluga] ([terminId], [uslugaId]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Usluga] ON 

INSERT [dbo].[Usluga] ([id], [naziv], [opis], [cena]) VALUES (1, N'Hollywood Smile', N'Kompletna transformacija osmeha pomocu najsavremenijih keramickih vinira.', CAST(530000.00 AS Decimal(18, 2)))
INSERT [dbo].[Usluga] ([id], [naziv], [opis], [cena]) VALUES (2, N'Nevidljive proteze', N'Ispravljanje zuba providnim folijama (alignerima) bez metalnih žica.', CAST(210000.00 AS Decimal(18, 2)))
INSERT [dbo].[Usluga] ([id], [naziv], [opis], [cena]) VALUES (3, N'Lasersko beljenje', N'Profesionalno izbeljivanje zuba lampom u samo jednoj poseti.', CAST(30000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Usluga] OFF
GO
ALTER TABLE [dbo].[Izvestaj]  WITH CHECK ADD  CONSTRAINT [FK_Izvestaj_Termin] FOREIGN KEY([terminId])
REFERENCES [dbo].[Termin] ([id])
GO
ALTER TABLE [dbo].[Izvestaj] CHECK CONSTRAINT [FK_Izvestaj_Termin]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_Korisnik_Korisnik] FOREIGN KEY([mentorId])
REFERENCES [dbo].[Korisnik] ([id])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_Korisnik_Korisnik]
GO
ALTER TABLE [dbo].[Termin]  WITH CHECK ADD  CONSTRAINT [FK_Termin_Korisnik] FOREIGN KEY([pacijentId])
REFERENCES [dbo].[Korisnik] ([id])
GO
ALTER TABLE [dbo].[Termin] CHECK CONSTRAINT [FK_Termin_Korisnik]
GO
ALTER TABLE [dbo].[Termin]  WITH CHECK ADD  CONSTRAINT [FK_Termin_Korisnik1] FOREIGN KEY([stomatologId])
REFERENCES [dbo].[Korisnik] ([id])
GO
ALTER TABLE [dbo].[Termin] CHECK CONSTRAINT [FK_Termin_Korisnik1]
GO
ALTER TABLE [dbo].[TerminUsluga]  WITH CHECK ADD  CONSTRAINT [FK_TerminUsluga_Termin] FOREIGN KEY([terminId])
REFERENCES [dbo].[Termin] ([id])
GO
ALTER TABLE [dbo].[TerminUsluga] CHECK CONSTRAINT [FK_TerminUsluga_Termin]
GO
ALTER TABLE [dbo].[TerminUsluga]  WITH CHECK ADD  CONSTRAINT [FK_TerminUsluga_Usluga] FOREIGN KEY([uslugaId])
REFERENCES [dbo].[Usluga] ([id])
GO
ALTER TABLE [dbo].[TerminUsluga] CHECK CONSTRAINT [FK_TerminUsluga_Usluga]
GO
USE [master]
GO
